{% extends "base.html" %}
{% block title %}{% endblock title %}
{% block content %}
<p class="p-2"><big><strong>Las siguientes peliculas estan disponibles:</strong></big></p>
            <ul class="list-group">
                {% for movie in movies %}
                <li class="list-group-item">
                    <a href="movie/{{ movie.pk }}">{{ movie | capfirst }}</a>
                    <p>{{ movie.filmpublicationyear }}</p>
                </li>
                {% endfor %}
            </ul>
{% endblock content %}